{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-3"></div>
    <div class='col-6'>
        {% include 'messages.html' %}
        <form>
            <div>
                <label>Искать в:</label>
                    <label>заголовках<input type="checkbox" value="" name="t" {% if t %}checked{% endif %}/></label>
                    <label>тексте<input type="checkbox" value="" name="x" {% if x %}checked{% endif %}/></label>
                    <label>ссылках<input type="checkbox" value="" name="n" {% if n %}checked{% endif %}/></label>
            </div>
            <div>
                <label>Поиск:<input type="text" name="search"/></label>
                <input type="submit" value="Погнали!"/>
            </div>
        </form>
        {% for news in all_news %}
            <p><a href="{{ url_for('news.single_news', news_id=news.id) }}" style="color:black"><h5> {{ news.title }} </a></h5>
                <small>{{ news.date.strftime('%d %B %Y, %A') }} | Комментарии: {{ news.comments_count() }}</small>
            </p>
            <hr style="color:black">
        {%endfor%}
    </div>
    <div class='col-1'></div>
    <div class="col-2">
        <h6>
            {% if weather %}
                Cейчас {{weather.temp_C}}, ощущается как {{weather.FeelsLikeC}}
            {% else %}
                Сервис погоды временно недоступен
            {% endif %}
        </h6>
    </div>
</div>
{% endblock %}
