{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-4"></div>
    <div class='col-4'>
        {% include 'messages.html' %}
        <form action="{{ url_for('user.login_process') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }}<br>
                {{ form.username() }}
            </div>
            <div class="form-group">
                {{ form.password.label }}<br>
                {{ form.password() }}
            </div>
            <div class="form-group form-check" style="margin-top: 10px;margin-bottom: 10px;">
              {{ form.remember_me() }}
              {{ form.remember_me.label }}
            </div>
            {{ form.submit }}
            <p>Если нет аккаунта, можете <a href = "{{ url_for('user.reg') }}">зарегистрироваться</a></p>
        </form>
    </div>
</div>
{% endblock %}